@page
@model RecipeApp.Pages.Recipes.CreateModel
@{
}

<br />
<h2>New Recipe</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm col-form-label">Recipe Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="recipe_name" value="@Model.recipe.recipe_name"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm col-form-label">Servings</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="servings" value="@Model.recipe.servings"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm col-form-label">Procedure</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="recipe_procedure">@Model.recipe.recipe_procedure</textarea>
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/recipes" role="button">Cancel</a>
        </div>

    </div>
</form>